!!! 5
html(lang="en")
  head
    title #{post.title}
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    script(type="text/javascript", src="/javascripts/jquery-1.7.1.min.js")
    script(type="text/javascript", src="/javascripts/site.js")
    link(href="/stylesheets/screen.css", media="screen", rel="stylesheet", type="text/css")
    link(rel="alternate", type="application/rss+xml", title="RSS 2.0", href="http://feeds.feedburner.com/usevim")
    link(rel="alternate", type="application/atom+xml", title="Atom Feed", href="http://feeds.feedburner.com/usevim")
    link(rel="shortcut icon", href="/favicon.ico")
  body
    !{include('header')}
    nav#breadcrumb
      a.read-more(href="/") &larr; Back
    section#container.content
      #content
        !{hNews(post)}
        !{disqus(post, 'usevim')}
      !{include('sidebar')}
    !{include('footer')}
    script(type="text/javascript", src="/javascripts/pretty/run_prettify.js")
